<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <main>
        <ul>
            <li><a href="{% url 'produtos:todos_produtos' %}">Visualizar todos os produtos</a></li>
            <li><a href="{% url 'produtos:todos_fornecedores'%}">Visualizar todos os fornecedores</a></li>
    </main>
</body>
</html>